
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
p{
    text-align: justify;
    
}
body{
    background-color: #123456;
    color: #ffff;
    font-family: "Nunito", sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}   